
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <title>Weather Page</title>
  <meta charset="utf-8" />
  <meta name="Author" content="Prof 2019" />
  <style>
    a { text-decoration: none; }
    a:hover { text-decoration: underline; }
      body h1 {font-size: 80px;}
  </style>
</head>

<body>
    <h1> Weather Page </h1>
    <p>This is a webpage that when entered a location</p>
    <p>It will tell you the closest weather disater near your area </p>
</body>
    
    <form METHOD="POST">
    <input name="location">
    <input type="submit">
    </form>
    
</html>
